@model IEnumerable<InvermabApp.producto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="font-size:12px;font-family:Arial, Helvetica, sans-serif">
    <h2>Consulta de Precios</h2>
    <p>
        @using (@Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <b>Search By:</b>
            @Html.RadioButton("searchBy", "Codigo", true) <text>Codigo</text>
            @Html.RadioButton("searchBy", "Nombre") <text>Nombre</text><br />
            @Html.TextBox("search") <input type="submit" value="search" />
        }
    </p>
    <div class="table-responsive" style="font-size:10px;font-family:Arial, Helvetica, sans-serif">
        <table border="1" class="table-condensed">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Codigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefProv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.precio1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.precio2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.precio3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.precio4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.costo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Existencia)
                </th>
            </tr>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="4">
                        No hay registros.
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Codigo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RefProv)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.precio1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.precio2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.precio3)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.precio4)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.costo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Existencia)
                        </td>
                    </tr>
                }
            }
        </table>

    </div>

</div>